.barChart {
  width: 1000px;
  margin: 20px 10px;
  height: 600px;
  background-color: white;
  border-radius: 2rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media screen and (min-width: 1450px) {
  .barChart {
    min-width: 1050px;
    width: 70%;
  }
}